body{
    background-image: url('../img/Tourisme-spatial-scaled.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* Header */
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    list-style: none;
}

a{
    color: white;
    font-family: Lobster, cursive;
    text-decoration: none;
    font-size:x-large;
    padding:10px;
    border-radius: 15px;
}

a:hover{
    color:black;
    background-color: white;
    text-decoration: underline;
    transition: 1s;
}

/* Content index */
.name_index{
    position: absolute;
    top:15%; 
    left:40%;
    right:30%;
    font-size: 40px;
}

h1{
    font-family: Lobster, cursive;
    text-shadow: 0px 0px 10px white;
}

.desc_index{
    position: absolute;
    top: 45%;
    left: 35%;
    right: 35%;
    text-align: center;
    color: white;
    font-family: Lobster, cursive;
    font-size: x-large;
    background-color: rgba(0,0,0,0.8);
}

/* Content */
.name{
    position: absolute;
    top:5%;
    font-size: 40px;
}

h1{
    font-family: Lobster, cursive;
    text-shadow: 0px 0px 10px white;
}

.desc{
    position: absolute;
    top: 25%;
    left: 35%;
    right: 35%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.desc p{
    font-family: Lobster, cursive;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.container{
    margin-top: 15%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

/* Vaisseaux */
.ss_container_gauche{
    border: 5px white solid;
    border-radius: 20px;
    position: absolute;
    top: 45%;
    width: 40%;
    height: 40%;
    left:5%;
    background-color: rgba(0,0,0,0.8);
}

.ss_container_droite{
    border: 5px white solid;
    border-radius: 20px;
    position: absolute;
    top: 45%;
    right: 5%;
    width: 40%;
    height: 40%;
    background-color: rgba(0,0,0,0.8);
}

/* Destination */
.ss_container_flex{
    border: 5px white solid;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.8);
    margin:15px;
}

.div_name{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.div_name p{
    width: auto;
    text-decoration: underline;
    font-family: Lobster, cursive;
    font-size: 20px;
    padding:5px;
}

.div_img{
    display: flex;
    justify-content: space-around;
}

.div_img img {
    margin:10px;
    border-radius: 10px;
}

@media screen and (min-width: 1500px) {
    .div_img img{
        width: 250px;
        height: 225px;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1100px) {
    .div_img img{
        width: 150px;
        height: 125px;
    }
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
    .div_img img{
        width: 100px;
        height: 75px;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
    .div_img img{
        width: 75px;
        height: 50px;
    }
}

@media screen and (max-width: 500px) and (min-width: 10px) {
    .div_img img{
        width: 50px;
        height: 25px;
    }
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color:white;
    font-family: Lobster, cursive;
}